<%provide(:title,@user.name)%>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
        <div>
          <% if @user.is_suspended %>
          <%= "Suspeneded!" %>
          <%end%>
        </div>
				<%= gravatar_for @user %>
				<%= "Welcome " + @user.name %>
        <div>
          <% if @user.is_vip 
              membershiptype = 'VIP'
            else
              membershiptype = 'Basic'%>
          <%end%>
          <%= "Membership Type: " + membershiptype %> 
        </div>
        <div>
        <%= "Checkouts Remaing: " + @user.checkedout_count.to_s %> 
        </div>
        <div>
          <%= "Balance owed: " + @user.balance.to_s %>
        </div>
			</h1>
		</section>
	</aside>
</div>	

<div class= "row">
	<ul class="users">
    <h2>Checkouts</h2>
  		<% @checkedouts.each do |checkedout| %>
        <% @checkedout = checkedout %>
        <% if @checkedout.active %>
   		     <li>
      <!-- it is interesting here how just providing the object book here links to the show method--> 
      		    <% @book=Book.find(@checkedout.book_id) %>
      		    <%= image_tag(@book.image_url, :alt => "alt text", :class => "book_icon") %>
      		    <%= link_to @book.name, @book%>
              <%= @checkedout.datedue %>     
            <%=render 'shared/returnbuttonform' %>
<!--          
after render in a tag group nothing else will show therefore the render has to be at the bottom here or encased in its own tag -->
         </li>
        <%end%>
    	<% end %>
  </ul>
</div>	
<div class= "row">
  <ul class="users">
    <h2>Reserves</h2>
      <% @reserveds.each do |reserved| %>
        <% @reserved = reserved %>
        <% if @reserved.active %>
           <li>
      <!-- it is interesting here how just providing the object book here links to the show method--> 
              <% @book=Book.find(@reserved.book_id) %>
              <%= image_tag(@book.image_url, :alt => "alt text", :class => "book_icon") %>
              <%= link_to @book.name, @book%> 
              <li>  
              <% if @book.is_reserved and !@book.is_checked_out%>
                  Your Book is available for checkout. 
              <%end%>
            </li>
<!--          
after render in a tag group nothing else will show therefore the render has to be at the bottom here or encased in its own tag -->
         </li>
        <%end%>
      <% end %>
  </ul>
</div>  

