<%provide(:title,@book.name)%>

<div class = "book_image">
	<%= image_tag(@book.image_url, :alt => "alt text") %>
</div>



<div class="row">
		<section class="bookInfo">
			<h1 class="title">
				<%=@book.name%>
			</h1>
		</section>
		<section>
			<%="ISBN: "+@book.isbn%><br>
			<%="Author: " +@book.author%><br>
			<%= 
				message = "Currently Checked Out: "
				if @book.is_checked_out == false
					message += "No"
				else
					message += "Yes"
				end
				message%><br>
			<%=@book.description%>
		</section>
</div>	

<div>
		<%if signed_in? %>
		<section>
			<%if !@book.is_checked_out and checkedoutcountcheck %>
				<%=render 'shared/checkedout_button' %>
				Reserve Book
			<%end%>
		</section>
		<section>
			<%=render 'shared/comment_form' %>
		</section>
		<%end%>
		<section>
			<%=render 'shared/comments'%>
		</section>
</div>
